<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gather browser information/device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/scripts/index.js"></script>
</head>

<body style="background-color:royalblue" >
    <h1>
        3ds-server domain: hidden iframe for send browser information
    </h1>
    <script>
        window.setTimeout(sendBrowserInformation, 5000);

        function sendBrowserInformation() {

            console.log("send browser info:" + httpPost('/3ds-server/api/browserInformation'))
            // non si pò elminiare questo "redirect" perchè occorre attendere 
            // un evento lato client:la fine della chiamata
            // httpPost '/3ds-server/api/browserInformation'
            window.location.href = "<%= gdiNotifyUrl%>"; // passata dalla init
        }

    </script>
</body>


</html>