<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: white" onload="parentRedirect()">
    <h1>
        Merchant Domain: Notify
    </h1>
    <p>
        reimposto lato client la href location della finestra padre
        per permettere di eseguire un redirect (visibile) all'utente.
    </p>
</body>

<script>
    function parentRedirect() {
        setTimeout(function () {
            console.log('gdiNotify recived');
            window.top.location.href = "http://localhost:3000/merchant-website/waitingAuth";
        }, 3000);
    }
</script>

</html>