<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: lightgreen"  onload="parentRedirect()">
    <h1>
        Notify
    </h1>
</body>


<script>
    function parentRedirect() {
        console.log('gdiNotify recived');
        window.top.location.href = "/3ds-server-gateway/waitingAuth";
    }
</script>

</html>