<html>

<body style="background-color: lightgreen">
    <h1>
        waiting 3D-Secure Authentication
    </h1>
    <img src="/static/images/giphy.gif" alt="spinner">
    <iframe src="<%= authUrl %>" frameborder="1" height="200"></iframe>

</body>



</html>