<html>

<body onload="sendauth()">
    <h1>
        waiting 3D-Secure Authentication
    </h1>
    <img src="/static/images/giphy.gif" alt="spinner">
</body>

<iframe src="<%= authUrl %>" frameborder="1"></iframe>

</html>