<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: lightgreen" onload="parentRedirect()">
    <h1>
        Phoenix domain: Auth Notify (non usata)
        il phonix ridirige alla verify.
    </h1>
    <p>
        Modifico la href location della finestra padre
        scatenando la verify.
    </p>
</body>


<script>
    function parentRedirect() {
        setTimeout(function () {
            console.log('gdiNotify recived');
            window.top.location.href = "/phoenix/verify";
        }, 3000)
    }
</script>

</html>