<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Start 3D-Secure authentication</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
    </head>
<body style="background-color: lightgreen" >
    <h1>
        Phoenix Domain: Start 3D-Secure authentication
    </h1>
<p>gdiUrl:<%= gdiUrl %></p>
</body>
<p>qui sotto c'è un hidden iFrame</p>
<iframe src="<%= gdiUrl %>" frameborder="1" height="600px" width="600px"></iframe>

</html>