<html>

<body style="background-color: lightgreen">
    <h1>
        waiting 3D-Secure Authentication
    </h1>

    <p>challenge via iframe</p>
    <iframe src="<%= authUrl %>" frameborder="1" height="400" width="400"></iframe>

</body>


</html>